---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
// import About from '../components/About.astro';

import '@fontsource/poppins/400.css';
import '@fontsource/poppins/900.css';
---

<Layout title="About Optimus">
    <main class="text-neutral-200 hg h-[100vh] snap-y">
        <div class="sticky top-0 z-50">
            <Nav/>
        </div>
        <div class="pl-[50px] ">
            <div class="p-[40px]">
                <h1 class="text-4xl font-semibold"> # About Optimus </h1>
            
                <div class="mt-[38px] flex">
                    <p class="text-xl w-[400px]">¿What it this? <span class="underline decoration-[#ffa9a9]"> Optimus is a lightweight </span> and optimized framework for rapid web application development. It is designed to improve application performance by loading elements quickly and handling errors effectively on the client side. Nonprofit</p>
                </div>

                <h1 class="text-4xl font-semibold mt-[100px]"> # Characteristics </h1>
                <div class="mt-[38px] flex">
                    <ul class="pl-[50px]">
                        <li class="list-disc"><b>Performance optimization</b>: Fast loading of elements in the user interface.</li>
                        <li class="list-disc"><b>Integrated error handling</b>: Display clear error messages on the interface in case of failures.</li>
                        <li class="list-disc"><b>Ease of use</b>: Simple syntax for defining state and rendering components.</li>
                    </ul>
                </div>

                <div class="mt-[88px] flex">
                    <div class="ml-[550px] border w-[45px] p-[5px] rounded-lg border-[#ffa9a9] ">
                        <a href="https://github.com/DrxcoDev/Optimus">
                            <svg class="text-[#ffa9a9]" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4.44c-.32-.07-.33-.68-.33-.89l.01-2.47c0-.84-.29-1.39-.61-1.67c2.01-.22 4.11-.97 4.11-4.44c0-.98-.35-1.79-.92-2.42c.09-.22.4-1.14-.09-2.38c0 0-.76-.23-2.48.93c-.72-.2-1.48-.3-2.25-.31c-.76.01-1.54.11-2.25.31c-1.72-1.16-2.48-.93-2.48-.93c-.49 1.24-.18 2.16-.09 2.38c-.57.63-.92 1.44-.92 2.42c0 3.47 2.1 4.22 4.1 4.47c-.26.2-.49.6-.57 1.18c-.52.23-1.82.63-2.62-.75c0 0-.48-.86-1.38-.93c0 0-.88 0-.06.55c0 0 .59.28 1 1.32c0 0 .52 1.75 3.03 1.21l.01 1.53c0 .21-.02.82-.34.89H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z" fill="currentColor"/></svg>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>

<style>
    main {
        font-family: 'Poppins', sans-serif;
    }
</style>