---
---

<div class="p-[40px]">
    <h1 class="text-4xl font-semibold"> # About Optimus </h1>

    <div class="mt-[38px] flex">
        <p class="text-xl w-[400px]">¿What it this? <span class="underline decoration-[#ffa9a9]"> Optimus is a lightweight </span> and optimized framework for rapid web application development. It is designed to improve application performance by loading elements quickly and handling errors effectively on the client side. Nonprofit</p>
        <div class="mx-[50px]">
            <img class="mx-[150px] z-20 -mt-[80px]" src="https://cdn3d.iconscout.com/3d/free/thumb/free-business-startup-5283092-4431877.png?f=webp" alt="">
        </div>
    </div>
</div>