---
---

<div class="mynav p-6 flex border-b border-gray-600 sm:w-[100%]">
    <ul class="mx-[20px]">
        <li>
            <a href="/">
                <img src="" alt="">
            </a>
        </li>
        <li>
            <span class="name">Optimus</span>
        </li>
    </ul>
    <ul class="mx-[100px] flex justify-between ">
        <li>
            <a class="mx-[10px]" href="/">Home</a>
            <a class="mx-[10px]" href="/">About</a>
            <a class="mx-[10px]" href="/">Contact</a>
            <a class="mx-[10px] order-last" href="/">Blog</a>
        </li>
    </ul>
</div>

<style>
    @media (min-width: 375px) {
        .name {
            font-size: 20px;
        }
    }

    .mynav {
        background: #23262d71;
        backdrop-filter: blur(10px);
    }
</style>